body {
    text-align:center;
    font-family: cursive;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

/* title */
header {
    text-align: center;
    font-size: 32px;
    letter-spacing: 10px;
    padding: 20px 10px;
    color: white;
}
canvas {
    background-image: url("fond.webp");
    background-size: cover;
}
.food i {
    color: greenyellow;
}

.snake {
    background-color: orange;
}

