body {
    text-align:center;
    font-family: cursive;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

/* title */
header {
    text-align: center;
    font-size: 32px;
    letter-spacing: 10px;
    padding: 20px 10px;
    color: white;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #c10000;
    font-weight: bold;
}

h2 {
    color: #c10000;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: absolute;
    top: -60px;
    left: -230px;
}
/*score*/
#result {
    text-transform: capitalize;
}

canvas {
    background-image: url(images/green.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gamePage {
    margin-top: 1rem;
}

.rel {
    position: relative;
}

.modal-dialog {
    max-width: 300px;
}

.modal-body  {
    text-align: center;
}

/*btn start */
.btn {
    display: block;
    width: 8rem;
    font-size: 1rem;
    background-color:#c10000;
    color: #fff;
}


.btn:hover {
    color: white;
    background-color: greenyellow;
}

.modal-btn {
    width: 20%;
}

.buttons {
    margin-bottom: 10px;
    position: absolute;
    top: -70px;
    left: 140px;
}

.result img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

#fruit, #virus {
    display: none;
}

#snake {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

/*rules*/
.rules {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 251px;
    width: 20rem;
    text-align: center;
    background-image:url("images/fond.jpg");
    background-size: cover;
    color:white;
    font-weight: bold;
}

#titleRules {
    font-size: large;
    font-style: italic;
    text-decoration: #c10000 wavy underline;
    margin-top: 16px;
    color: white;
    text-align: center;

}

.rules div {
    margin-top: 10px;
    text-align: center;
}
/*head dead*/
#dead {
    color: #c10000;
}
